﻿@using FamilyStamp.Core.Components
@using FamilyStamp.Core.Kernel
@using System.Security.Claims

@{
    int roleId = int.Parse(this.User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).SingleOrDefault());
    var funcGroups = Ioc.Get<ISystemManager>().GetSystemFunctions(roleId);
}
<style>
    .userlogout-section{
        width:300px;
        height:50px;
        text-align:center;
        vertical-align:middle;
        display:table-cell;
    }
    .userlogout-section a:hover {
        color:#000;
        background-color: white;
    }
</style>
<div class="nav-side-menu" id="navSide">
    <div class="brand">全家</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list navmenu-favorite">
        <div class="userlogout-section">
            Hi, @User.Identity.Name <a href="/account/resetPassword">修改密碼</a> | <a href="/login/logout">登出</a>
        </div>
        <ul id="menu-content" class="menu-content collapse out">
            @{
                int idx = 0;
                string active = "active";
                foreach (var funcGroup in funcGroups)
                {
                    if (idx > 0)
                    {
                        active = string.Empty;
                    }
                    <li data-toggle="collapse" data-target="#@funcGroup.Name" class="collapsed @active main_side_menu" onclick="sildeMenu(this)">
                        <a href="#">
                            <i class="fa fa-gift fa-lg"></i> @funcGroup.Name <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="@funcGroup.Name">
                        @foreach (var func in funcGroup.Functions)
                        {
                            <li class=""><a href="@func.Link" onclick="sildeMenu(this)">@func.Name</a></li>
                        }
                    </ul>
                    idx++;
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    function sildeMenu(obj) {
        $(".main_side_menu").removeClass("active");
        $(obj).addClass("active");
    }
    $(document).ready(function () {
        var __menuName = '';
        $.each($("#menu-content ul li"), function (idx, item) {
            $(item).removeClass("active");
            if (location.pathname.toUpperCase() == $(item).find("a").attr("href").toUpperCase() ||
                location.pathname.toUpperCase() == $(item).find("a").attr("href").toUpperCase() + "EDIT") {
                __menuName = $(item).parent().attr("id");
                $(item).addClass("active");
                $(item).parent().addClass("show");
            }
        });

        $.each($("#menu-content .main_side_menu"), function (idx, item) {
            $(item).removeClass("active");
            if ("#" + __menuName == $(item).attr("data-target")) {
                $(item).addClass("active");
            }
        });
    });

</script>

