﻿@page
@model FamilyStamp.Web.indexModel
<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-10">
            <div class="card border-dark"
                 style="max-width: 20rem;">
                <div class="card-header" v-bind:class="{ 'bg-danger': !versionIsMatch, 'text-white': !versionIsMatch }">{{databaseInfoTitle}}</div>
                <div class="card-body text-dark">
                    <p class="card-text">資料庫: <span class="info-blue">{{datebaeName}}</span></p>
                    <p class="card-text">目前版本: <span class="info-blue">{{databaseCurrentVersion}}</span></p>
                    <p class="card-text">系統需求版本: <span class="info-blue">{{databaseRequiredVersion}}</span></p>
                    <div v-show="!versionIsMatch">
                        <input type="button" value="更新資料庫" @@click="dbUpgrade" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                datebaeName: "...",
                databaseCurrentVersion: "...",
                databaseRequiredVersion: "...",
                versionIsMatch: true,
                databaseInfoTitle: '資料庫資訊',
                bypassPayment: {
                    enabled: false,
                    cardNumber: ''
                }
            },
            mounted: function () {
                console.log('app mounted');
                axios.post('/api/page/getEnviromentInfo')
                    .then((res) => {
                        var data = res.data;
                        console.log('maintainers:' + JSON.stringify(data));
                        app.datebaeName = data.database.name;
                        app.databaseCurrentVersion = data.database.currentVersion;
                        app.databaseRequiredVersion = data.database.requiredVersion;
                        app.versionIsMatch =
                            ((app.databaseCurrentVersion == app.databaseRequiredVersion)
                                && app.databaseCurrentVersion != null
                                && app.databaseCurrentVersion != '');
                        if (app.versionIsMatch == false) {
                            app.databaseInfoTitle = '資料庫資訊 (目前版本不一致)';
                        }
                    });
            },
            methods: {
                dbUpgrade: function () {
                    var self = this;
                    axios.post('/api/page/dbUpgrade')
                        .then((resp) => {
                            alert(resp.data.message);
                        });
                }
            }
        });
    </script>
}