﻿@page
@model FamilyStamp.Web.Views.Login.IndexModel
@{
    Layout = null;
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
<style>
    div.main {
        background: #2b80be; /* Old browsers */
        height: calc(100vh);
        width: 100%;
    }

    [class*="fontawesome-"]:before {
        font-family: 'FontAwesome', sans-serif;
    }



    body {
        color: #606468;
        font: 87.5%/1.5em 'Open Sans', sans-serif;
        margin: 0;
    }


    input {
        border: none;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
        padding: 0;
        -webkit-appearance: none;
    }

    p {
        line-height: 1.5em;
    }

    .container {
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #login {
        width: 300px;
    }

    #login, .logo {
        display: inline-block;
        width: 40%;
    }

    #login {
        border-right: 1px solid #fff;
        padding: 0px 22px;
        width: 59%;
    }

    .logo {
        color: #fff;
        font-size: 50px;
        line-height: 65px;
    }

    #login input {
        height: 50px;
    }

    fieldset {
        padding: 0;
        border: 0;
        margin: 0;
    }

    #login input[type="text"], input[type="password"] {
        background-color: #fff;
        border-radius: 0px 3px 3px 0px;
        color: #000;
        margin-bottom: 1em;
        padding: 0 16px;
        width: 250px;
    }

    #login input[type="submit"] {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #000000;
        color: #eee;
        font-weight: bold;
        /* margin-bottom: 2em; */
        text-transform: uppercase;
        padding: 5px 10px;
        height: 30px;
    }

        #login input[type="submit"]:hover {
            /*background-color: #d44179;*/
            background-color: #fff;
            color: #000;
        }

    #login > p {
        text-align: center;
    }

        #login > p span {
            padding-left: 5px;
        }

    .middle {
        display: flex;
        width: 600px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }

    .material-icons.white600 {
        color: #fff;
    }

    .alert-danger {
        color: #fff;
    }
</style>
<div class="main" id="app">
    <div class="container">
        <center>
            <div class="middle">
                <div id="login">
                    <fieldset class="clearfix">
                        <form method="post">
                            <div>
                                <span class="material-icons md-48 white600" style="vertical-align:top">how_to_reg</span><input type="text" name="account" Placeholder="帳號" style="padding-left:10px" v-model="id" autocomplete="off" autofocus />
                            </div>
                            <p>
                                <span class="material-icons md-48 white600" style="vertical-align:top">
                                    no_encryption
                                </span><input name="password" type="password" Placeholder="密碼" style="padding-left:10px" v-model="password" autocomplete="off">
                            </p>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div v-if="message!=''" class="alert alert-danger">{{ message }}</div>
                                </div>
                            </div>
                            <div>
                                <span style="width: 50%; text-align: right; display: inline-block;"><input type="submit" value="登  入"></span>
                            </div>
                        </form>
                    </fieldset>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div> <!-- end login -->
                <div class="logo">
                    全家數位戳章系統
                    <div class="clearfix"></div>
                </div>
            </div>
        </center>
    </div>
</div>

<script>
    const message = "@TempData["Message"]";
    const account = "@TempData["Account"]";
    var app = new Vue({
        el: '#app',
        data: {
            id: '',
            password: '',
            message: message,
        },
        methods: {
        },
        mounted: function() {
        }
    });
</script>